# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment
.env

# Build
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/

# Chrome data (nếu chỉ chứa dữ liệu tạm)
chrome_data_1/
cookies.txt
downloads/Không phải bạn không đủ tốt, mà là những lời nói này vốn dĩ đã mang tính sát thương....mp4
downloads/不是你不够好而是这些话本来就带有伤害....mp4
downloads/不是你不够好而是这些话本来就带有伤害....srt
