# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment
.env

# Build
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/

chrome_profiles/
downloads/

